page-historico-notificacoes {
  ion-header {
    .toolbar {
      .back-button {
        display: none !important;
      }

      .title-ios {
        position: relative;
        padding: 0 16px 1px 16px;
      }

      .btn-fechar {
        height: 34px;
        width: 56px;
        margin-left: 0;
        box-shadow: none;
        background: transparent;

        &.button-ios {
          margin-top: 12px;
          margin-left: 2px;
          margin-bottom: -1px;
        }

        &.activated {
          box-shadow: none;
          background: transparent;
        }

        ion-icon {
          padding-left: 0px !important;
        }
      }
    }
    .toolbar-title{
      white-space: normal;
    }
  }

  .nenhum-registro{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    text-align: center;
  }

  ion-row.row ion-col.col p{
    // color: #0089EC;
    opacity: .74;
  }

  ion-card{
    border-radius: 10px !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) !important;
    .info-last-record{
      color: gray;
      margin: 0px 6px 0px 5px !important;
      font-size: .9em;
    }
  }

  .navigation-indicator{
    display: flex;
    align-items: center;
    opacity: 0.4;
  }
}

//iPhone XR
@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 2) {
  page-historico-notificacoes {
    .header {
      min-height: 128px;
      .toolbar {
        min-height: 128px;
      }
    }
  }
}

//iPhone XS
@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3) {
  page-historico-notificacoes {
    .header {
      min-height: 128px;
      .toolbar {
        min-height: 128px;
      }
    }
  }
}

//iPhone XS Max
@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 3) {
  page-historico-notificacoes {
    .header {
      min-height: 128px;
      .toolbar {
        min-height: 128px;
      }
    }
  }
}
