<ion-header>
  <ion-navbar color="primary">
    <button ion-button
            icon-only
            color="light"
            (tap)="back()"
            clear
            *ngIf="showBackButton">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>Termos de Uso</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="texto">
    <p>
      Por favor, leia estes termos legais de uso, antes de utilizar o aplicativo “CORONAVÍRUS-SUS”.
    </p>
    <p>
      Ao utilizar o “CORONAVÍRUS-SUS”, você aceita e concorda em cumprir os termos e condições estabelecidos nos “termos
      legais de uso”.
    </p>
    <p>
      Este termo é um acordo vinculativo entre você e o aplicativo “CORONAVÍRUS-SUS”, que abrange todo o seu acesso e
      uso dessa aplicação, o que inclui o uso de todas as informações, dados, ferramentas, produtos, serviços e outros
      conteúdos disponíveis por meio deste.
    </p>

    <p>Ao utilizar esta aplicação, você confirma que compreende e concorda com as seguintes regras
      dispostas:</p>

    <ul>
      <li>1. Respeito às Leis:</li>
      <ul>
        <li>
          1.1. O utilizador deverá acessar o “CORONAVÍRUS-SUS” apenas para finalidades lícitas;
        </li>
        <li>
          1.2. O utilizador concorda em utilizar o aplicativo apenas para os devidos fins e em conformidade com o
          presente termo e limitações legais, bem como quaisquer políticas aplicáveis no Brasil;
        </li>
        <li>
          1.3. Seu acesso é proibido em territórios onde o conteúdo seja considerado ilegal. Aqueles que optarem por
          acessar este site a partir de outras localidades o farão por iniciativa própria e serão responsáveis pelo
          cumprimento das leis locais aplicáveis. Os materiais não deverão ser usados ou exportados em descumprimento
          das leis brasileiras. Qualquer pendência com relação aos materiais será dirimida pelas leis brasileiras.
        </li>
        <li>
          1.4. A alteração não autorizada dos conteúdos deste aplicativo é expressamente proibida.
        </li>
      </ul>
    </ul>
    <ul>
      <li>2. Respeito às Leis:</li>
      <ul>
        <li>
          2.1. A utilização do aplicativo está indicada somente para indivíduos de 12 (treze) anos de idade ou mais,
          adolescentes segundo o Estatuto da Criança e Adolescente, sob orientação de um adulto.
        </li>
      </ul>
    </ul>
    <ul>
      <li>3. Responsabilidade pelo conteúdo:</li>
      <ul>
        <li>
          3.1. O “CORONAVÍRUS-SUS” não é responsável pelo conteúdo de quaisquer informações eventualmente trocadas pelos
          utilizadores entre si, ou que para o “CORONAVÍRUS-SUS”, sejam elas lícitas ou ilícitas.
        </li>
        <li>
          3.2. O utilizador concorda que é o único responsável pela sua própria conduta e pela veracidade das
          informações fornecidas enquanto utilizar o serviço e que é responsável pelas consequências que resultem do
          fornecimento intencional de dados incorretos.
        </li>
        <li>
          3.3. O utilizador concorda que ao usar o “CORONAVÍRUS-SUS” não irá publicar, enviar, distribuir ou divulgar
          conteúdo ou informação de caráter difamatório, obsceno ou ilícito, inclusive informações de propriedade
          exclusiva pertencentes a outras pessoas ou empresas, bem como marcas registradas ou informações protegidas por
          direitos autorais, sem a expressa autorização do detentor desses direitos;
        </li>
        <li>
          3.4. Ninguém pode agir em seu nome no uso do “CORONAVÍRUS-SUS”. Você é responsável pelo conteúdo que
          indivíduos não autorizados produzirem ao usar essa aplicação utilizando, com sua permissão, seu perfil
          cadastrado. Essa regra não se aplica aos casos de violação ou outros problemas de segurança da aplicação.
        </li>
      </ul>
    </ul>
    <ul>
      <li>4. Acessibilidade ao conteúdo:</li>
      <ul>
        <li>
          4.1. A equipe do “CORONAVÍRUS-SUS” não garante que esta aplicação esteja parcial ou completamente funcional
          para uso fora do território nacional.
        </li>
      </ul>
    </ul>
    <ul>
      <li>5. Propriedade intelectual:</li>
      <ul>
        <li>
          5.1. A equipe do “CORONAVÍRUS-SUS” e seus colaboradores são detentores do direito de autoria dos conteúdos
          produzidos e apresentados nesta aplicação. Essa premissa não se aplica às informações consideradas como de
          domínio público ou de utilidade pública.
        </li>
        <li>
          5.2. Todas as outras marcas comerciais, marcas de serviço, nomes e logotipos que aparecem nesta aplicação são
          de propriedade de seus respectivos proprietários.
        </li>
        <li>
          5.3. O aplicativo “CORONAVÍRUS-SUS” é um software open source cuja utilização por terceiros se submete aos
          termos da licença internacional GNU General Public License, version 3 (GPL-3.0). Os direitos de uso do
          conteúdo e dos relatórios gerados pela aplicação são cedidos pelos desenvolvedores, em especial aqueles que
          decorrem dos termos da licença Creative Commons - Atribuição-NãoComercial 4.0 Internacional.
        </li>
        <li>
          5.4. Apenas informações divulgadas pelos serviços de saúde devem ser consideradas oficiais para divulgação
          pública, no que tange aos dados relacionados a esse tema.
        </li>
        <li>
          5.5. Os dados coletados por meio do “CORONAVÍRUS-SUS” podem sofrer influência pela sua capacidade de acesso à
          dispositivos móveis com especificações tecnológicas mínimas. Deste modo, as informações obtidas por meio desse
          aplicativo, podem necessariamente não corresponder à expressão real do padrão epidemiológico daquele período e
          local, pois depende da conexão e precisão de
          antenas das operadoras de telefonia.
        </li>
      </ul>
    </ul>
    <ul>
      <li>6. Leis, regulamentos, direitos e deveres:</li>
      <ul>
        <li>
          6.1. É política da equipe do “CORONAVÍRUS-SUS” cumprir todas as leis e regulamentos aplicáveis, os quais podem
          ser
          modificados de tempos em tempos. No caso de qualquer disposição do presente Termos de Uso estar em conflito
          com qualquer lei ou regulamento aplicável, a lei ou regulamentação aplicável substituirá a disposição
          contrária.
        </li>
        <li>
          6.3. O “CORONAVÍRUS-SUS” poderá, mas não é obrigado, a monitorar, revisar e restringir o acesso a qualquer de
          suas áreas onde os utilizadores transmitem informações, podendo retirar do ar ou retirar o acesso a qualquer
          destas informações ou comunicações.
        </li>
        <li>
          6.4. Se você tiver alguma dúvida em relação ao “CORONAVÍRUS-SUS”, não hesite em contatar-nos pelo email:
          coe@saude.gov.br.
        </li>
      </ul>
    </ul>
    <ul>
      <li>7. Uso das contribuições.</li>
      <ul>
        <li>
          7.1. Ao enviar uma contribuição escrita ou postar informações no “CORONAVÍRUS-SUS”, você concede uma licença
          perpétua, isenta de royalties, licença incondicional para essa aplicação ao Ministério da Saúde.
        </li>
        <li>
          7.2. Ao publicar a sua contribuição no “CORONAVÍRUS-SUS”, você estará contribuindo para as medidas para
          enfrentamento da emergência de saúde pública de importância internacional decorrente do coronavírus
          (http://j.mp/coronaLEIquarentena), de forma agregada (nunca individual) à outros meios de comunicação, e para
          discutir ou referenciá-la em quaisquer publicações científicas e educacionais.
        </li>
        <li>
          7.3. Você também concorda que o “CORONAVÍRUS-SUS” tem o direito, mas não a obrigação, de editar ou remover
          qualquer contribuição, ou incluí-la no texto em conjunto com outras contribuições, a critério exclusivo da
          equipe relacionada a essa aplicação.
        </li>
        <li>
          7.4. Todas as informações fornecidas por pessoas ou profissionais de saúde são protegidas, de acordo com a Lei
          Geral de Proteção de Dados Pessoais (LGPD), Lei Nº 13.709, de 14 de agosto de 2018.
        </li>
        <li>
          7.5. Segundo Capítulo II (Do tratamento de dados pessoais), Seção II (Do Tratamento de Dados Pessoais
          Sensíveis), Art. 13. Na realização de estudos em saúde pública, os órgãos de pesquisa poderão ter acesso a
          bases de dados pessoais, que serão tratados exclusivamente dentro do órgão e estritamente para a finalidade de
          realização de estudos e pesquisas e mantidos em ambiente controlado e seguro, conforme práticas de segurança
          previstas em regulamento específico e que incluam, sempre que possível, a anonimização ou pseudonimização dos
          dados, bem como considerem os devidos padrões éticos relacionados a estudos e pesquisas.
        </li>
        <ul>
          <li>7.5.1. § 1º A divulgação dos resultados ou de qualquer excerto do estudo ou da pesquisa de que trata o
            caput deste artigo em nenhuma hipótese poderá revelar dados pessoais.§ 2º O órgão de pesquisa será o
            responsável pela segurança da informação prevista no caput deste artigo, não permitida, em circunstância
            alguma, a transferência dos dados a terceiro.</li>
          <li>7.5.2. § 3º O acesso aos dados de que trata este artigo será objeto de regulamentação por parte da
            autoridade nacional e das autoridades da área de saúde e sanitárias, no âmbito de suas competências.</li>
          <li>7.5.3. § 4º Para os efeitos deste artigo, a pseudonimização é o tratamento por meio do qual um dado perde
            a possibilidade de associação, direta ou indireta, a um indivíduo, senão pelo uso de informação adicional
            mantida separadamente pelo controlador em ambiente controlado e seguro.</li>
        </ul>
      </ul>
    </ul>
    <ul>
      <li>8. Garantia de Sigilo e Anonimato:</li>
      <ul>
        <li>
          8.1. Será garantido o sigilo e anonimato de todas as informações produzidas por você no “CORONAVÍRUS-SUS”,
          exceto conforme exigido por lei, ou para tratar de questões de descumprimento.
        </li>
        <li>
          8.2. Reservamo-nos o direito de usar esta informação internamente e, nesse âmbito, sua contribuição estará
          vinculada ao apelido de sua escolha.
        </li>
        <li>
          8.3. O “CORONAVÍRUS-SUS”, seus colaboradores e usuários, incluindo agências governamentais e não
          governamentais, dependem dos utilizadores para a precisão das contribuições. A equipe não se responsabiliza
          por erros ou imprecisões em qualquer submissão. Deturpação deliberada de informações por um usuário pode
          constituir uma violação da lei, e se for séria, será comunicada às autoridades governamentais apropriadas.
        </li>
      </ul>
    </ul>
    <ul>
      <li>9. Atualização do “CORONAVÍRUS-SUS”:</li>
      <ul>
        <li>
          9.1. Modificações dessa aplicação e dos seus Termos de Uso poderão ocorrer. A menos que indique o contrário,
          seu uso da aplicação indica a aceitação integral do Termos de Uso naquela versão vigente cada vez que você
          usar o “CORONAVÍRUS-SUS”. Fique atento as atualizações e, em caso de dúvida, os Termos de Uso estarão sempre
          disponíveis para acesso e concordância ou não.
        </li>
      </ul>
    </ul>
    <ul>
      <li>10. Responsabilidade por ações com base no conteúdo:</li>
      <ul>
        <li>
          10.1. O “CORONAVÍRUS-SUS” não assume responsabilidade por quaisquer prejuízo e / ou danos a pessoas ou bens,
          em consequência de qualquer utilização das idéias, conteúdos, instruções, métodos, produtos ou procedimentos
          contidos nesta aplicação.
        </li>
        <li>
          10.2. Em hipótese alguma os profissionais envolvidos com o desenvolvimento ou gestão dessa aplicação serão
          responsabilizados por qualquer decisão ou ação tomada por você em base a tal conteúdo.
        </li>
        <li>
          10.3. Diante de ameaças ou qualquer outra situação de risco a vossa saúde ou integridade procure sempre
          orientações validadas e atualizadas pelos serviços locais de saúde pública ou acesse
          www.saude.gov.br/coronavirus para mais informações.
        </li>
      </ul>
    </ul>
    <ul>
      <li>11. Responsabilidade por problemas tecnológicos:</li>
      <ul>
        <li>
          11.1. Eventualmente todo o conteúdo ou qualquer parte do “CORONAVÍRUS-SUS” pode não estar disponível e pode
          não funcionar corretamente em qualquer momento . Fazemos esforços razoáveis para evitar problemas
          tecnológicos, mas em qualquer momento podem ocorrer nessa aplicação problemas tecnológicos das mais diversas
          naturezas, tais como vírus, rotinas de programação prejudiciais ou problemas relacionados ao aparelho do
          usuário.
        </li>
        <li>
          11.2. A aplicação é fornecidos “como está” e “conforme estiver disponível”. Sem limitar o nosso aviso geral,
          não garantimos a disponibilidade, integridade, pontualidade, funcionalidade, confiabilidade, seqüenciamento ou
          a velocidade de entrega nessa aplicação ou de qualquer parte do conteúdo.
        </li>
        <li>
          11.3. O “CORONAVÍRUS-SUS” não se responsabiliza por qualquer dano ou prejuízo causado pelo desempenho ou falha
          de desempenho de toda ou qualquer parte da aplicação. O “CORONAVÍRUS-SUS” não se responsabiliza por quaisquer
          defeitos, atrasos ou erros resultantes da sua utilização desta aplicação.
        </li>
        <li>
          11.4. A utilização de todas as funcionalidades do “CORONAVÍRUS-SUS” exige disponibilidade do acesso à internet
          pelo usuário, por wifi ou cabo de rede de dados. A ausência desse pré-requisito pode limitar a utilização da
          aplicação com todo seu potencial de uso. A equipe do “CORONAVÍRUS-SUS”, considerando esse aviso, não assume
          responsabilidade decorrente dessa limitação.
        </li>
        <li>
          11.5. Esta isenção de responsabilidade aplica-se a todos e quaisquer danos ou prejuízos, incluindo aqueles
          causados por qualquer falha de desempenho, erro, omissão, interrupção, apagamento, defeito, atraso na operação
          ou transmissão, vírus de computador, falha de linha de comunicação, roubo, destruição ou acesso não
          autorizado, a alteração ou uso de qualquer bem, seja por violação de contrato, comportamento ilícito,
          negligência ou qualquer outra causa de ação.
        </li>
      </ul>
    </ul>

    <ul>
      <li>12. Responsabilidade por informações de terceiros:</li>
      <ul>
        <li>
          12.1. A disposição através da aplicação de links e referências para outros sites, publicações ou recursos de
          informação não constitui o endosso desses sites ou de seus recursos por parte do “CORONAVÍRUS-SUS”, de seus
          agentes ou representantes.
        </li>
        <li>
          12.2. A equipe do “CORONAVÍRUS-SUS” não faz representações ou asserções quanto à qualidade, conteúdo e
          precisão das informações, serviços ou produtos que podem ser fornecidas por esses recursos e especificamente
          se isenta de quaisquer garantias, incluindo, mas não limitando às garantias implícitas ou expressas de
          comerciabilidade ou adequação para qualquer utilização particular, aplicação ou finalidade.
        </li>
      </ul>
    </ul>

    <ul>
      <li>13. Considerações Finais</li>
      <ul>
        <li>
          13.1. O acesso ao serviço representa a aceitação expressa e irrestrita dos Termos de Uso acima descritos. Ao
          concordar com esses termos você concede uma licença perpétua, isenta de royalties, licença incondicional para
          o “CORONAVÍRUS-SUS”, Ministério da Saúde e todas as organizações sucessoras, para publicar a sua contribuição
          de forma agregada, nunca individualizada, na própria aplicação, bem como divulgá-las aos serviços de
          vigilância em saúde pública relacionados. Você também concorda que “CORONAVÍRUS-SUS” tem o direito, mas não a
          obrigação, de editar ou remover qualquer contribuição a critério exclusivo da equipe do “CORONAVÍRUS-SUS”.
        </li>
        <li>
          13.2. Este aplicativo não realiza diagnóstico clínico, apenas auxilia o usuário na compreensão dos sinais e
          sintomas relacionados às definições operacionais, de saúde pública, para investigação do coronavírus na sua
          comunidade.
        </li>
        <li>
          13.3. É importante ressaltar que caso da composição de sinais e sintomas, associados aos critérios
          epidemiológicos indique que o usuário possa ser um possível caso suspeito, isso não se trata de um
          diagnóstico. O Ministério da Saúde orienta que o mesmo deverá procurar atendimento em uma unidade de saúde
          mais próxima para avaliação clínica.
        </li>
      </ul>
    </ul>

  </div>
</ion-content>
<ion-footer *ngIf="!showBackButton">
  <button ion-button
          block
          class="btn-footer"
          (tap)="aceitar()">Aceitar
  </button>
</ion-footer>