perguntas-component {
  .scroll-content {
    margin-top: 0 !important;
  }
  .content-perguntas {
    background-color: transparent !important;
    background-image: none !important;
    .scroll-content {
      padding: 16px !important;
    }
  }
  .container-questoes {
    margin-bottom: 60px;
    margin-top: 60px;
    .questao-titulo {
      text-align: center;
      font-family: Nunito-Light;
      font-size: 18px;
      color: #212B36;
      letter-spacing: 0;
      text-align: center;
      line-height: 20px;
    }
    .item {
      padding-left: 0;
      background-color: transparent;
      .item-inner {
        padding-right: 0;
        ion-col {
          padding: 10px;
        }
        .resposta {
          background-color: white;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 14px;
          border: 1px solid #E2E7EE;
          box-shadow: 0 2px 4px 0 rgba(200,204,221,0.4);
          font-size: 16px;
          color: #7C8894;
          letter-spacing: 0;
          text-align: center;
        }
        .selecionada {
          color: white;
          background-color: map_get($colors, pink);
          animation: 1s linear rubberBand;
        }
      }
    }
  }
}

.platform-tablet {
  perguntas-component {
    .titulo, .container-questoes {
      width: 80% !important;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
