<ion-header no-shadow>
  <ion-navbar color="primary" style="min-height: 146px !important;">
    <button ion-button icon-only class="btn-fechar" (tap)="dismiss()">
      <ion-icon name="md-close"></ion-icon>
    </button>
    <ion-title>
      Registros de saúde
      <p class="lb-desc">Cadastre e acompanhe os registros de saúde dos membros da sua família.</p>
    </ion-title>
  </ion-navbar>
  <div class="box">
    <div class="blue-box">
      <ion-card class="card-registro" style="background: url(assets/imgs/registro-saude/registro-saude-bg-card.png);">
        <ion-row>
          <ion-col col-4>
            <img src="assets/imgs/registro-saude/sintomas-icon-card.svg">
            <h2>{{getNumeroSintomas()}}</h2>
            <p>Sintomas</p>
          </ion-col>
          <ion-col col-4>
            <img src="assets/imgs/registro-saude/calendario-icon-card.svg">
            <h2>{{getDuracao()}}</h2>
            <p>Duração</p>
          </ion-col>
          <ion-col col-4 style="border:none;">
            <img src="assets/imgs/registro-saude/medicamentos-icon-card.svg">
            <h2>{{getMedicamentos()}}</h2>
            <p>Medicamentos</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-header>


<ion-content>
  <div class="content">
    <div class="membro">
      <registro-membro [informacoes]="informacoes" [showArrow]="false"></registro-membro>
    </div>

    <ion-list *ngFor="let header of headers">
      <ng-container *ngIf="items?.length">
        <ion-list-header>
          {{ header }}
        </ion-list-header>

        <ion-item *ngFor="let item of items | async" >
          {{ item.name }}
        </ion-item>
      </ng-container>
    </ion-list>


    <ion-list *ngIf="result.length > 0">
      <ion-label>Histórico</ion-label>
      <ng-container *ngFor="let grouped of result">
        <ion-list-header>
          {{ formatDate(grouped[0].createdAt) }}
        </ion-list-header>

        <ion-item no-lines *ngFor="let item of grouped" class="historico-item-registro">
          <ion-icon name="{{iconeRegistro(item)}}" item-start></ion-icon>
          <span>{{descricaoRegistro(item)}}</span>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>

  <ion-fab right bottom #fab>
    <button ion-fab mini (tap)="abrirNovoRegistro()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
